*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --primary-color: #0095f6 ;
    --secondary-color: #385185 ;
    --text-color: #BeBeBe ;
    --text-dark: #262626;
    --bg-color: #fafafa;
    --bg-white: #ffffff ;
    --border-color: #dbdbdb;
}

body {
    display: flex;
    position: relative;
    background: var(--bg-color);
    font-family: var(--font-family);
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: nome;
}

.container{
    position: relative;
    margin: 37px 0px;
    max-width: 935px;
    width: 100%;
    padding: 0 40px;
}

.insta-device-section{
    transform: translateY(-45px);
    padding: 30px;

}

.insta-device-section .slider{
    display: flex;
    position: absolute;
    transform: translateY(-560px);
    margin-left: 111px;
}

.insta-login-area {
    display: flex;
    height: 620px;

}

.insta-login-section{
    display: block;
    width: 360px;
    text-align: center;
    font-size: 14px;
}

.login-container{
    background: var(--bg-white);
    padding: 40px 20px 15px 20px ;
    border: 1px solid var(--border-color);
}

.img-logo{
    width: 175px;
    margin-top: 25px;
}

.insta-login-form{
    padding: 10px 30px;
}

.insta-input-field input{
    width: 100%;
    margin: 3px 0px;
    border: 1px solid var(--border-color);
    padding: 10px 20px 7px 8px;
    border-radius: 3px;
    font-family: var(--font-family);
    background: var(--bg-color);
}

.insta-input-field input:focus{
    outline: none;
    border: 1px solid var(--border-color);
    padding: 10px 40px 7px 8px;

}

insta-input-field label{
  
    display: none;
}

insta-input-field:focus-within label{
    text-align: left;
    font-size: 10px;
    position: absolute;
    margin-top: 4px;
    padding-left: 10px;
    color: var(--text-color);
    display: block;
}

.insta-login-button{
    width: 100%;
    height: 36px;
    padding: 4px 0 7px 8px;
    margin: 5px 0px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--primary-color);
    color: var(--bg-white);
    cursor: pointer;
}

.login-divider{
    display: flex;
    width: 100%;
    padding: 10px 30px;
    align-items: center;

}
.login-divider .left-divider{
    display: block;
    height: 2px;
    background-color: var(--text-color);
    width: 50%;

}
.login-divider .rigth-divider{
    display: block;
    height: 2px;
    background-color: var(--text-color);
    width: 50%;
}

.login-divider .divider-text{
    display: block;
    padding: 0px 20px;
    font-weight: 600;
    color: var(--text-color);
}


.login-container .login-social{
    padding: 20px 0;
    font-weight: 600;
    font-size: 14px;
}

.login-container .login-social a,
.login-container .insta-forget-password a{
    color: var(--secondary-color);
}

.login-container .login-social a i{
    font-size: 18px;
    margin-right: 4px;
}

.login-container .insta-forget-password a{
    font-size: 12px;
}

.insta-signup{
    padding: 20px 40px;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    margin: 10px 0px;
}

.insta-get-app{
    padding: 10px 40px;
}

.insta-get-app .insta-get-app-store{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    gap: 10px;
}

.insta-get-app .insta-get-app-store a img{
    width: 136px;
}

.insta-footer{
    padding: 20px 40px;
    text-align: center;
}

.insta-footer .insta-footer-links-1 a,
.insta-footer .insta-footer-links-3{
    font-size: 12px;
    color: var(--text-color);
    padding: 0 4px;
}

.insta-footer .insta-footer-links-3{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding-top: 20px;
}

.insta-footer .insta-footer-links-3 select{
    border: 0;
    background: transparent;
    font-family: var(--font-family);
    color: var(--text-color);
    width: 64px;
}

.insta-footer .insta-footer-links-3 select:focus{
    outline: none;
}


@media screen and (max-width:640px){
    .container{
        width: auto";
    }
    
    .insta-login-section{
        max-width: 100%;
    }

    .insta-device-section{
        display: none;
    }
}